/*############################################ Import ############################################*/
@import url("../../../css/includes/fronts.css");

:root{
    --font-family--7: 'Stop';
} 

#thingHead{
    margin-bottom: 10px;
    background-color: #3282b8;
}
  
/*---> Logo  */
#logo{
    padding: 10px;
}

#logo h1{
    font-family: var(--font-family--7);
    letter-spacing: 4px;
}
  
#logo .img img{
    width: 180px;
    height: 90px;
}
    
/*---> Datos  */
#data{
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold;
    padding-top: 15px;
}