/*############################################ Import ############################################*/
/*@import url('fronts.css');*/
 
:root{
    --color--00: #7db4ec96;
    --color--01: #5B94CF;
    --color--02: #ffffff;
    --color--03: #282828;
    --color--04: #323232;
    --color--05: #000000;
    --color--06: #cacacc;
    --color--07: #273746;
    --color--08: #3a6486;
    --color--09: #FF0000;
    --color--10: rgba(0, 0, 0, 0.692);
    --color--11: rgba(58,100,134,.5);
    --color--12: #868e96;
    --color--13: rgba(134,142,150,.5);
    --color--14: #6c757d;
    
    --dt-status-sold-color: greenyellow;
	--dt-status-ask-color: red;
	--dt-status-offline-color: lightgray;

    --dt-padding:  12px;
	--dt-padding-s:  6px;
	--dt-padding-xs: 2px;

	--dt-border-radius:  3px;
} 

#tb_lista .Di,
#tb_marca .Di{
	font-size: 20px;
	color: var(--dt-status-sold-color);
}

#tb_lista .Ac,
#tb_marca .Ac{
	font-size: 20px;
	color: orange;
}

#tb_marca .Ag{
	font-size: 20px;
	color: #ccc;
}

#tb_marca .Pn{
	font-size: 20px;
	color: #ff0000ee;
}

/*#################################################################################################*/
	/*########################## CONTAINER - TABLE ##############################################*/
/*#################################################################################################*/
.datatable-container{
	color: var(--color--02);
	width: 95%;
	margin: 0 auto;
	padding-bottom: 15px;
}

/*#################################################################################################*/
	/*########################## HEADER - BOTTOM / SEARCH ######################################*/
/*#################################################################################################*/
.datatable-container .header-tools{
	background: linear-gradient(70deg, var(--color--08), var(--color--01));
	padding:  var(--dt-padding);
	display: flex;
	align-items: baseline;

	border-top: 2px solid var(--color--02);
	border-left: 2px solid var(--color--02);
	border-right: 2px solid var(--color--02);
}

.datatable-container .header-tools .material-icons{
	font-size: 25px;
	color: var(--color--03);
	text-shadow: 3px 0px 9px var(--color--01);
}

.searchicon{
	position: relative;
	font-size: 25px !important;
	color: var(--color--03);
	text-shadow: 3px 0px 9px var(--color--08);
}
.icon-search{
	position: relative;
	top: 2px;
	right: 5px;
	margin-left: 15px;
}

/*#################################################################################################*/
	/*########################## SEARCH - BUSCADOR ##############################################*/
/*#################################################################################################*/
.datatable-container .header-tools .search{
	width: 30%;
	height: 25px;
}

.datatable-container .header-tools .search .search-input{
	position:relative;
	width: 100%;
	height: 25px;
	top: -3px;
	background-color: var(--color--08);
	display: block;
	box-sizing: border-box;
	border-radius: var(--dt-border-radius);
	border: 2px solid var(--color--01);
	color: var(--color--02);
	font-family: var(--font-family--Tb-Text);
	font-size: 15px;
	letter-spacing: 2px;
}

.datatable-container .header-tools .search .search-input:focus{
	border: 2px solid var(--color--08);
	background-color: var(--color--01);
	outline: none;
}

.datatable-container .header-tools .tools{
	width: 70%;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.datatable-container .header-tools .tools ul{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: start;
	align-items: center;
}

/*Button*/
.datatable-container .header-tools .tools ul li{
	display: inline-block;
	height: 39px;
	margin-right: 6px;
	align-items: center;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: var(--color--01);
	border: 1px solid var(--color--01);
}

/*#################################################################################################*/
		/*########################## DATA TABLE ##############################################*/
/*#################################################################################################*/
.datatable-container .datatable{
	border-collapse: collapse;
	width: 100%;
	background: var(--color--08);
	border-left: 2px solid var(--color--02);
	border-right: 2px solid var(--color--02);
}

.datatable-container .datatable,
.datatable-container .datatable th,
.datatable-container .datatable td{
	padding: var(--dt-padding) var(--dt-padding);
}

/*th - header table*/
.datatable-container .datatable th{
	font-weight: bolder;
	text-align: center;
	border-bottom: 2px solid var(--color--02);
	font-family: var(--font-family--Tb-Title);
	font-size: 20px;
	letter-spacing: 2px;
}

.datatable-container .datatable td{
	border-bottom: 2px solid var(--color--02);
	text-align: center;
	font-family: var(--font-family--Tb-Text);
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 2px;	
}

.datatable-container .datatable tbody tr:hover{
	background-color: var(--color--01);
	color: var(--color--03);
}

/*#################################################################################################*/
	/*########################## FOOTER - TABLE ##############################################*/
/*#################################################################################################*/
.datatable-container .footer-tools{
	height: 35px !important;
	background-color: var(--color--05);
	display: flex;
	border-left: 2px solid var(--color--02);
	border-right: 2px solid var(--color--02);
	border-bottom: 2px solid var(--color--02);
}

.datatable-container .footer-tools .list-items{
	width: 30%;
	line-height: 35px;
	font-family: var(--font-family--Tb-Footer);
	font-size: 16px;
	letter-spacing: 2px;
	margin-left: auto;
	margin-right: 0;
}

.datatable-container .footer-tools .pages{
	margin-left: auto;
	margin-right: 0;
	width: 70%;
	height: 35px;
}

.datatable-container .footer-tools .pages ul{
	height: 35px;
	margin: 0;
	padding: 0;
	margin-right: 2px;
	display: flex;
	justify-content: flex-end;
}

.datatable-container .footer-tools .pages ul li{
	display: inline-block;
	margin: 0 var(--dt-padding-xs);
}

.datatable-container .header-tools .tools ul li button{
	width: 100%;
	font-family: var(--font-family--Butoon);
	font-size: 16px;
	box-sizing: border-box;
	border: 0;
	border-radius: var(--dt-border-radius);
	background: transparent;
	cursor: pointer;
}

.datatable-container .header-tools .tools ul li button:hover{
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: var(--color--08);
}

.datatable-container .footer-tools .pages ul li button{
	width: 100%;
	font-family: var(--font-family--Butoon);
	font-size: 16px;
	position: relative;
	top: 2px;
	box-sizing: border-box;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	color: var(--color--02);
}

.datatable-container .footer-tools .pages ul li button:hover{
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: var(--color--08);
	color: var(--color--01);
}

.datatable-container .footer-tools .pages ul li span.active{
	font-family: var(--font-family--Tb-Footer);
	font-size: 16px;
	position: relative;
	top: 8px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: var(--color--01);
	color: var(--color--02);
	text-shadow: 3px 0px 9px var(--color--03);
}

.datatable-container .footer-tools .pages ul li button,
.datatable-container .footer-tools .pages ul li span,
.datatable-container .header-tools .tools ul li button{
	padding: var(--dt-padding-s) var(--dt-padding);
}

.footer-tools select{
	font-family: var(--font-family--Tb-Footer);
	font-size: 16px;
	background-color: var(--color--05) !important;
	color: var(--color--02) !important;
	letter-spacing: 2px !important;
	border: var(--color--05) !important;
}

/*--> Aviso <--*/
.datatable-container .datatable tbody tr .availabe::after,
.datatable-container .datatable tbody tr .ask::after,
.datatable-container .datatable tbody tr .order::after,
.datatable-container .datatable tbody tr .offline::after{
	display: inline-block;
	vertical-align: middle;
}

/*-----> Vendido <-----*/
.datatable-container .datatable tbody tr .available::after{
	content: 'Vendido';
	color: var(--dt-status-sold-color);
}

/*-----> Pedir <-----*/
.datatable-container .datatable tbody tr .ask::after{
	content: 'Pedir';
	color: var(--dt-status-ask-color);
}

/*-----> Pedido <-----*/
.datatable-container .datatable tbody tr .order::after{
	content: 'Pedido';
	color: var(--dt-status-sold-color);
}

/*-----> Disponible <-----*/
.datatable-container .datatable tbody tr .offline::after{
	content: 'Estable';
	color: var(--dt-status-offline-color);
}


.datatable-container .datatable tbody tr .available::before,
.datatable-container .datatable tbody tr .ask::before,
.datatable-container .datatable tbody tr .order::before,
.datatable-container .datatable tbody tr .offline::before{
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	border-radius: 50%;
	vertical-align: middle;
}

.datatable-container .datatable tbody tr .available::before{
	background-color: var(--dt-status-sold-color);
}
.datatable-container .datatable tbody tr .ask::before{
	background-color: var(--dt-status-ask-color);
}
.datatable-container .datatable tbody tr .order::before{
	background-color: var(--dt-status-sold-color);
}
.datatable-container .datatable tbody tr .offline::before{
	background-color: var(--dt-status-offline-color);
}
